flows/iot_temp.json
[{"id":"bd22f197.129b2","type":"inject","z":"307277a9.3d0e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"1","x":210,"y":960,"wires":[["6988667d.d7aec8"]]},{"id":"6988667d.d7aec8","type":"function","z":"307277a9.3d0e48","name":"convert","func":"// Array of pseudo random temperatures\nvar temp1 = [34,45,75.5,34,56.5,32,42,52.2,19,32];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n \"temperature\" : temp1[counter1],\n \"humidity\" : humidity1[counter1] }\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":920,"wires":[["b84c1cda.1576d","4b277136.7b9f4","bc8b6aa0.047238"]]},{"id":"b84c1cda.1576d","type":"debug","z":"307277a9.3d0e48","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"temperature","targetType":"msg","x":730,"y":860,"wires":[]},{"id":"4b277136.7b9f4","type":"ui_gauge","z":"307277a9.3d0e48","name":"","group":"7a8b88e3.faf778","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity Monitor","label":"Degrees","format":"{{msg.temperature}}","min":"0","max":"100","colors":["#b30c00","#e6e600","#65cb3a"],"seg1":"35","seg2":"70","x":710,"y":960,"wires":[]},{"id":"bc8b6aa0.047238","type":"ui_gauge","z":"307277a9.3d0e48","name":"","group":"7a8b88e3.faf778","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature Monitor","label":"Degrees","format":"{{msg.humidity}}","min":"15","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"70","x":720,"y":1040,"wires":[]},{"id":"1513c29.4c5713d","type":"ibmiot in","z":"307277a9.3d0e48","authentication":"quickstart","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT","service":"","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":240,"y":1160,"wires":[[]]},{"id":"965ddceb.91a62","type":"comment","z":"307277a9.3d0e48","name":"","info":"Note: Tried to implement using IBM IOT simulator, but ran into issues with responsiveness and latency.","x":440,"y":1140,"wires":[]},{"id":"7a8b88e3.faf778","type":"ui_group","z":"","name":"Monitors","tab":"cbb9ebc2.eff318","order":2,"disp":true,"width":"6","collapse":false},{"id":"cbb9ebc2.eff318","type":"ui_tab","z":"","name":"Firefighter (Peter)","icon":"dashboard","order":2,"disabled":false,"hidden":false}]