flows/sentiment_table.json
[{"id":"313ceb22.e91814","type":"ui_text","z":"307277a9.3d0e48","group":"95ccfa4a.39f1f8","order":0,"width":0,"height":0,"name":"","label":"Overall sentiment: ","format":"{{msg.features.sentiment.document.label}}","layout":"row-center","x":890,"y":320,"wires":[]},{"id":"fcc34ba0.d45be8","type":"ui_text","z":"307277a9.3d0e48","group":"95ccfa4a.39f1f8","order":1,"width":"0","height":"0","name":"","label":"Distress: ","format":"{{features.emotion.document.emotion.sadness}}","layout":"row-left","x":920,"y":360,"wires":[]},{"id":"9b171aae.36a2b8","type":"ui_text","z":"307277a9.3d0e48","group":"95ccfa4a.39f1f8","order":2,"width":0,"height":0,"name":"","label":"Cheerful: ","format":"{{msg.features.emotion.document.emotion.joy}}","layout":"row-left","x":920,"y":400,"wires":[]},{"id":"280f22a0.8e718e","type":"ui_text","z":"307277a9.3d0e48","group":"95ccfa4a.39f1f8","order":3,"width":0,"height":0,"name":"","label":"Fear: ","format":"{{msg.features.emotion.document.emotion.fear}}","layout":"row-left","x":930,"y":440,"wires":[]},{"id":"9289b443.912228","type":"ui_text","z":"307277a9.3d0e48","group":"95ccfa4a.39f1f8","order":4,"width":0,"height":0,"name":"","label":"Revulsion: ","format":"{{msg.features.emotion.document.emotion.disgust}}","layout":"row-left","x":910,"y":480,"wires":[]},{"id":"9dd4464f.074798","type":"ui_text","z":"307277a9.3d0e48","group":"95ccfa4a.39f1f8","order":5,"width":0,"height":0,"name":"","label":"Anger:","format":"{{msg.features.emotion.document.emotion.anger}}","layout":"row-left","x":930,"y":520,"wires":[]},{"id":"29df444d.db844c","type":"function","z":"307277a9.3d0e48","name":"","func":"msg.features.emotion.document.emotion.sadness = Math.round(msg.features.emotion.document.emotion.sadness * 100);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["fcc34ba0.d45be8"]]},{"id":"67eecfa8.63408","type":"function","z":"307277a9.3d0e48","name":"","func":"msg.features.emotion.document.emotion.joy = Math.round(msg.features.emotion.document.emotion.joy * 100);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["9b171aae.36a2b8"]]},{"id":"8c93e985.b7f6e8","type":"function","z":"307277a9.3d0e48","name":"","func":"msg.features.emotion.document.emotion.fear = Math.round(msg.features.emotion.document.emotion.fear * 100);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":440,"wires":[["280f22a0.8e718e"]]},{"id":"2e73938a.ef0ccc","type":"function","z":"307277a9.3d0e48","name":"","func":"msg.features.emotion.document.emotion.disgust = Math.round(msg.features.emotion.document.emotion.disgust * 100);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["9289b443.912228"]]},{"id":"17ff416b.26d4ef","type":"function","z":"307277a9.3d0e48","name":"","func":"msg.features.emotion.document.emotion.anger = Math.round(msg.features.emotion.document.emotion.anger * 100);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["9dd4464f.074798"]]},{"id":"5c7884cc.8c1d4c","type":"ui_microphone","z":"307277a9.3d0e48","group":"773719a5.9c5658","order":6,"width":0,"height":0,"name":"","maxLength":3,"timeslice":0,"x":70,"y":320,"wires":[["e1f0cd55.0c697"]]},{"id":"e1f0cd55.0c697","type":"watson-speech-to-text","z":"307277a9.3d0e48","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"GJ3ynSAvprvhtfhrRhYhJ1nSIw0WjF_-WaXRa9kBCoHL","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":240,"y":320,"wires":[["539571dc.e738"]]},{"id":"539571dc.e738","type":"function","z":"307277a9.3d0e48","name":"Convert buffer to text","func":"var b=Buffer.from(msg.transcription);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["6feaabbb.aeb174"]]},{"id":"6feaabbb.aeb174","type":"natural-language-understanding","z":"307277a9.3d0e48","name":"Natural Language Understanding","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.jp-tok.natural-language-understanding.watson.cloud.ibm.com/instances/37ce2249-c8c0-4df2-adf5-f372a9b95010","x":420,"y":400,"wires":[["29df444d.db844c","67eecfa8.63408","8c93e985.b7f6e8","2e73938a.ef0ccc","17ff416b.26d4ef","313ceb22.e91814","94802952.6b59f8"]]},{"id":"94802952.6b59f8","type":"function","z":"307277a9.3d0e48","name":"","func":"msg.features.emotion.document.emotion.sadness = Math.round(msg.features.emotion.document.emotion.sadness * 100);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":580,"wires":[["38a6c757.829938"]]},{"id":"77b07f9.1c75f8","type":"ui_template","z":"307277a9.3d0e48","group":"441acb4e.7e98b4","name":"","order":0,"width":"6","height":"7","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <th>Name</th>\n  <th>Location</th>\n  <th>Status</th>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.location }}</td>\n    <td>{{ obj.status }}</td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":620,"wires":[[]]},{"id":"38a6c757.829938","type":"template","z":"307277a9.3d0e48","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\"name\": \"Peter\", \"location\": \"1.374287, 103.8773889\", \"status\": \"High distress\"},\n    {\"name\": \"John\", \"location\": \"1.374225, 103.877323\", \"status\": \"Moderate distress\"},\n    {\"name\": \"Tom\", \"location\": \"1.3742211, 103.877353\", \"status\": \"Moderate distress\"},\n    {\"name\": \"Derrick\", \"location\": \"1.374299, 103.877336\", \"status\": \"Healthy condition\"}\n]\n    ","x":300,"y":580,"wires":[["66864cb3.50a1a4"]]},{"id":"66864cb3.50a1a4","type":"json","z":"307277a9.3d0e48","name":"","property":"payload","action":"","pretty":false,"x":510,"y":620,"wires":[["a3f5a5fc.060c78","2917011c.7d42fe"]]},{"id":"a3f5a5fc.060c78","type":"template","z":"307277a9.3d0e48","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":670,"y":620,"wires":[["77b07f9.1c75f8"]]},{"id":"731db85.7d6ed48","type":"template","z":"307277a9.3d0e48","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\"name\": \"John\", \"location\": \"1.374231, 103.877352\", \"status\": \"Moderate distress\"},\n    {\"name\": \"Tom\", \"location\": \"1.374221, 103.877383\", \"status\": \"Moderate distress\"},\n    {\"name\": \"Peter\", \"location\": \"1.374277, 103.877385\", \"status\": \"Slight distress\"},\n    {\"name\": \"Derrick\", \"location\": \"1.374289, 103.877308\", \"status\": \"Healthy condition\"}\n]\n    ","x":360,"y":680,"wires":[["66864cb3.50a1a4"]]},{"id":"2917011c.7d42fe","type":"debug","z":"307277a9.3d0e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":720,"wires":[]},{"id":"915ab17f.679f4","type":"inject","z":"307277a9.3d0e48","name":"","topic":"","payload":"oh my god, there is a person trapped under the rubble over there!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":420,"wires":[["6feaabbb.aeb174"]]},{"id":"9c4f3248.696d2","type":"inject","z":"307277a9.3d0e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":660,"wires":[["731db85.7d6ed48"]]},{"id":"ea0a27ce.553a78","type":"sort","z":"307277a9.3d0e48","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":450,"y":560,"wires":[[]]},{"id":"95ccfa4a.39f1f8","type":"ui_group","z":"","name":"Peter","tab":"cbb9ebc2.eff318","order":2,"disp":true,"width":"6","collapse":false},{"id":"773719a5.9c5658","type":"ui_group","z":"","name":"Record Voice (Peter)","tab":"c55737b.c23c6c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"441acb4e.7e98b4","type":"ui_group","z":"","name":"Live firefighter status","tab":"cd255815.c62158","order":1,"disp":true,"width":"6","collapse":false},{"id":"cbb9ebc2.eff318","type":"ui_tab","z":"","name":"Firefighter (Peter)","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c55737b.c23c6c8","type":"ui_tab","z":"","name":"Live Voice Recording","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"cd255815.c62158","type":"ui_tab","z":"","name":"Live firefighter status","icon":"dashboard","order":6,"disabled":false,"hidden":false}]