flows/visual_recognition.json
[{"id":"11d98941.2510d7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fa616496.58d1f8","type":"visual-recognition-v3","z":"11d98941.2510d7","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/da100366-a73c-4840-be9f-2ba75b6e6acd","image-feature":"classifyImage","lang":"en","x":270,"y":220,"wires":[["63285efa.54"]]},{"id":"63285efa.54","type":"ui_toast","z":"11d98941.2510d7","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":520,"y":220,"wires":[]},{"id":"aeb28470.4932e8","type":"inject","z":"11d98941.2510d7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":220,"wires":[["fa616496.58d1f8"]]}]